.theme-2{
    margin-top: 12px;
    height:70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:2rem;
    background-color: var(--dark-color);
}

.theme-2 .theme-card{
    margin-top: 1rem;
    height:18rem;
    width:18rem;
    border-top:5px solid var(--primary-color);
    color: azure;
}

.theme-2 .theme-card h1,h3,p{
    padding-left: 1rem;
}

.theme-2 .theme-card:hover{
    border-top-color:var(--secondary-color);
}

@media screen and (max-width: 768px){
    .theme-2{
        height: max-content;
    }
}