.rent-page{
    /* background-color: red; */
    height:120vh;
}

.rent-page .filters{
    border:2px solid var(--secondary-color);
    border-radius: 10px;
    height: calc(113vh - 20px);
}
.rent-page .cart{
    position: absolute;
    right:16rem;
    cursor: pointer;
}
.filters h2{
    color: var(--secondary-color);
}

.rent-page .property-data-container{
    /* background-color: rgb(39, 120, 192); */
}

.rent-page .property-data{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    /* background-color: red; */
}