.rent-page{
    /* background-color: red; */
    height:120vh;
}

.rent-page .filters{
    border:2px solid var(--secondary-color);
    border-radius: 10px;
    height: calc(113vh - 20px);
}

.filters h2{
    color: var(--secondary-color);
}

.rent-page .property-data-container{
    background-color: rgb(39, 120, 192);
}